<!DOCTYPE html>
<html>
<head>
    <title>Loan Payment Calculator</title>
</head>
<body>
  <form action="/payment/results">
  <div>
    <label for="apr_input">APR (Annual Percentage Rate)</label>
    <input id="apr_input" type="text" name="apr" placeholder="E.g. 5.5">
  </div>

  <div>
    <label for="years_input">Number of Years</label>
    <input id="years_input" type="text" name="years" placeholder="E.g. 30">
  </div>

  <div>
    <label for="principal_input">Principal</label>
    <input id="principal_input" type="text" name="principal" placeholder="E.g. 100000">
  </div>

  <button>Calculate monthly payment</button>
</form>

</body>
</html>
