<!DOCTYPE html>
<html>
<head>
    <title>Square Result</title>
</head>
<body>
    <h1>Result</h1>
    <p>The square of <%= @number %> is <%= @result %>.</p>
    <a href="/square/new">Calculate another</a>
</body>
</html>
